.app-login-input {
  font-size: 16px;
  line-height: 24px;
  padding-top: 4rem;
  padding-bottom: 0.8rem;
  max-width: 400px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
  outline: 0;
}

.app-login-input-left {
  margin-left: 0;
  margin-right: -3px;
}
