/* hind-vadodara-regular - latin */
/* hind-vadodara-300 - latin */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/hind-vadodara-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/hind-vadodara-v12-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/hind-vadodara-v12-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/hind-vadodara-v12-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/hind-vadodara-v12-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/hind-vadodara-v12-latin-300.svg#HindVadodara') format('svg'); /* Legacy iOS */
}
/* hind-vadodara-regular - latin */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/hind-vadodara-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/hind-vadodara-v12-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/hind-vadodara-v12-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/hind-vadodara-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/hind-vadodara-v12-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/hind-vadodara-v12-latin-regular.svg#HindVadodara')
      format('svg'); /* Legacy iOS */
}
/* hind-vadodara-500 - latin */
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/hind-vadodara-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/hind-vadodara-v12-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/hind-vadodara-v12-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/hind-vadodara-v12-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/hind-vadodara-v12-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/hind-vadodara-v12-latin-500.svg#HindVadodara') format('svg'); /* Legacy iOS */
}

/* Color Palette */
:root {
  --color-main: #10143b;
  --color-secondary: #f4feff;
  --color-btn-primary: #cfa348;
  --color-btn-secondary: #f2f3ff;
  --color-plc-secondary: #1b292cb2;
  --color-footer: #0c0f2b;
  --color-plain: #ffffff;
  --color-placeholder: #c4c4c4;
  --color-grey-border: #dcdcdc;
  --color-card-main: #1b53f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--color-main);
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: var(--color-plc-secondary);
}

/* Typography */
::selection {
  background-color: var(--color-main);
  color: var(--color-main);
}

html {
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 400;
  line-height: 24px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  font-size: calc(16px + 0.396vw);
}

a {
  color: var(--color-plain);
  text-decoration: none;
}
