.carousel {
  background-color: rgb(150, 100, 197);
}

.carousel-top,
.carousel-top-nav,
.carousel-bottom-nav {
  align-items: center;
  display: flex;
}

.carousel-top {
  justify-content: space-between;
}

.carousel-top-nav {
  column-gap: 24px;
}

.carousel-bottom-nav {
  justify-content: center;
}

.carousel-heading {
  margin-bottom: 16px;
}

.carousel-note {
  font-size: 16px;
  line-height: 23.97px;
}

/*  Carousel bottom */
.carousel-nav {
  background-color: rgb(40, 32, 176);
  border-radius: 50%;
  border: 1px solid grey;
  height: 10px;
  width: 10px;
}
