.carousel {
  padding: 64px 100px;
}

.carousel-top,
.carousel-top-nav,
.carousel-bottom-nav {
  align-items: center;
  display: flex;
}

.carousel-top {
  justify-content: space-between;
  margin-bottom: 32px;
}

.carousel-note {
  margin-top: 16px;
}

.carousel-top-nav {
  column-gap: 24px;
}

.carousel-note {
  font-size: 16px;
  line-height: 23.97px;
}

/*  Carousel bottom */
.carousel-bottom {
  margin-top: 32px;
}

.carousel-bottom-nav {
  column-gap: 10px;
  justify-content: center;
}

.carousel-round-nav {
  background-color: #d8d8d8;
  border-radius: 50%;
  border: 1px solid grey;
  height: 10px;
  width: 10px;
}

.carousel-round-nav:hover,
.carousel-left-arrow-nav:hover,
.carousel-right-arrow-nav:hover {
  cursor: pointer;
}

.carousel-round-nav:hover {
  background-color: rgb(40, 32, 176);
}

.carousel-left-arrow-nav:hover,
.carousel-right-arrow-nav:hover {
  fill: rgb(40, 32, 176);
}

.carousel-active {
  background-color: rgb(40, 32, 176);
}
