.footer-block * {
  color: var(--color-plain);
}

.footer-inner-container,
.footer-inner-container .nav-link a {
  font-size: 1.4rem;
}

.nav-link {
  line-height: 20.97px;
}

.footer-change-me {
  background-color: var(--color-main);
}

.footer-inner-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1148px;
  padding: 64px 0;
}

.footer-inner-container p {
  line-height: 20.97px;
}

.footer-col {
  align-items: center;
}

.footer-col.col-1 {
  max-width: 219px;
}

.footer-nav.footer-nav-links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  row-gap: 8px;
}

.newsletter-title {
  margin-bottom: 11px;
}

.newsletter p {
  margin-bottom: 8px;
}

.social-media {
  column-gap: 30px;
  display: flex;
  margin-top: 28px;
}

/* copyright */
.copyright-section {
  background-color: var(--color-footer);
  font-size: 1rem;
  padding: 15px 0;
  text-align: center;
}

/* ----------------Responsiveness---------------- */

/* -------------Mobile Screen - 320px------------ */
@media screen and (max-width: 320px) {
  .footer-change-me {
    padding: 0 30px;
  }

  .footer-inner-container {
    flex-direction: column;
    row-gap: 30px;
    font-size: 16px;
  }

  .footer-col.col-1 {
    max-width: none;
    text-align: justify;
  }

  .logo {
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer-col-body {
    line-height: 26px;
  }

  .footer-nav.footer-nav-links {
    align-items: center;
    row-gap: 28px;
  }

  .newsletter {
    text-align: center;
  }

  .newsletter-title {
    font-size: 20px;
  }

  .input-group {
    flex-direction: column;
    row-gap: 10px;
  }

  .social-media.nav-links {
    margin: 10px auto;
  }

  .footer-inner-container {
    padding: 40px 0;
  }

  .footer-inner-container .nav-link a {
    height: 30px;
    width: 30px;
    font-size: 20px;
  }

  .newsletter-details {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}
