.side-card-body {
  background-color: #eceeff;
  border-radius: 15px;
  overflow: hidden;
  max-width: fit-content;
}

img {
  transition: all 0.3s ease-in-out;
}

.side-card-body:hover .side-card-img img {
  opacity: 0.8;
  transform: scale(1.02);
}

.side-card-img {
  align-items: center;
  display: flex;
  justify-content: center;
}

.side-card-img img {
  width: 291px;
}

.side-card-title {
  color: var(--color-main);
  padding: 16px 24px;
  line-height: 24px;
}
