.testimonial-container {
  background: #e1e5ff;
  padding: 24px 31px 22px;
  border-radius: 15px;
  color: #10143b;
  height: 184px;
  max-width: 608px;
}
.testimonial-card-bottom {
  color: #10143b;
  display: flex;
  justify-content: space-between;
}

.testimonial-profile {
  margin-right: 58px;
}

.testimony {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 24px;
}

.testimony-name {
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4px;
}

.testimony-title {
  font-weight: 600;
}

.testimony-profile-container {
  position: relative;
  top: -23px;
}

.tst-crd {
  height: 52px;
}
